vosk==0.3.45
sounddevice==0.5.3
librosa==0.11.0
soundfile==0.13.1
numpy==2.3.4
faster-whisper==1.2.1
llama-cpp-python==0.3.16
scikit-learn==1.7.2
joblib==1.5.2
tensorflow-cpu==2.20.0
customtkinter==5.2.2
Pillow==12.0.0
PyAutoGUI==0.9.54
pyperclip==1.11.0
pydantic==2.12.4
PyYAML==6.0.3
huggingface_hub==1.1.2
